<p style="color: green"><%= notice %></p>

<h1>Countdowns</h1>

<div id="countdowns">
  <% @countdowns.each do |countdown| %>
    <%#= render countdown %>
    <p>
      <%= link_to "Show this countdown", countdown %>
    </p>
  <% end %>
</div>

<%= link_to "New countdown", new_countdown_path %><br><br>

<%= link_to "Greet Testing", greet_testing_path %><br><br>

<%= link_to "Alert Testing", alert_testing_path %>

<script type = "text/javascript">
    history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function ()
    {
        history.go(1);
    };
</script>

